* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: vazir;
  border: 0;
}
body {
  background-color: rgb(240, 245, 247);
}
.container {
  max-width: 1460px;
  margin: 0 auto;
  padding: 0 15px;
}
header {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  gap: 30px;
  .urlPagesContainer {
    display: none;
    top: 5px;
    background-color: #eee;
  }
  section:first-child {
    display: none;
  }
  > section {
    width: 100%;
    > div {
      .contactUsHeader {
        width: 100%;
        display: flex;
        // background-color: red;
        justify-content: space-between;
        > div {
          display: flex;
          gap: 10px;
          a {
            color: #000;
          }
        }
      }
    }
    .headerTool {
      display: flex;
      align-items: center;
      justify-content: space-between;
      .searchContainer {
        display: none;
        gap: 10px;
        border-radius: 20px;
        padding: 10px;
        overflow: hidden;
        max-width: 600px;
        width: 100%;
        background-color: #dfdfdf;
        select {
          min-width: 100px;
          background-color: transparent;
        }
        input {
          width: 100%;
          outline: 0;
          background-color: transparent;
        }
        button {
          font-size: 20px;
          padding: 7px;
          background-color: transparent;
          color: #5a5a5a;
        }
      }
      .loginSingUp {
        display: flex;
        gap: 10px;
        > button,
        a {
          font-size: 20px;
          color: #000;
          background-color: #cccccc;
          padding: 5px 10px;
          border-radius: 10px;
        }
        .loginSingUpContent {
          display: none;
        }
      }
    }
    .urlPages {
      position: relative;
      display: flex;
      transition: all 0.3s;
      justify-content: space-between;
      .opacitySections {
        position: fixed;
        display: none;
      }
      ul {
        display: flex;
        li {
          a {
            width: 100%;
            padding: 5px 20px;
            display: inline-block;
          }

          .urlPagesContent {
            z-index: 8;
            width: 100%;
            min-height: 400px;
            display: none;
            right: 0;
            position: absolute;
            background-color: red;
          }
          .urlPagesContent.hideWithAnimate {
            display: block;
            animation: hideContentUrlPages 0.5s linear;
          }
          @keyframes hideContentUrlPages {
            0% {
              opacity: 1;
            }
            100% {
              opacity: 0;
            }
          }
        }
        li:hover .urlPagesContent {
          display: block;
          animation: showContentUrlPages 0.5s linear;
        }
        @keyframes showContentUrlPages {
          0% {
            opacity: 0;
            transform: translate(0, 20px);
          }
          100% {
            opacity: 1;
            transform: translate(0, 0);
          }
        }
      }
      .leftContent {
        display: flex;
        gap: 20px;
        a {
          font-size: 30px;
          position: relative;
          color: #000;
          span {
            display: inline-flex;
            border-radius: 50%;
            width: 15px;
            height: 15px;
            align-items: center;
            justify-content: center;
            background-color: #1a8e8e;
            position: absolute;
            z-index: 2;
            padding: 5px;
            font-size: 12px;
            right: 0px;
            bottom: 10px;
            color: #fff;
          }
        }
      }
    }
  }
  .urlPagesContainer.active {
    top: 0;
    width: 100%;
    position: fixed;
  }
}
main {
  section {
    > div {
      .firstSectionContent {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        .sliderContainer {
          flex-basis: 60%;
          overflow: hidden;
          border-radius: 10px;
          .rightSlider {
            direction: ltr;
            overflow: hidden;
            box-shadow: 0 0 10px #000;
            border-radius: inherit;
            .item {
              width: 100%;
              a {
                width: 100%;
                img {
                  width: 100%;
                }
              }
            }
          }
        }
        .leftSlider {
          flex-basis: 30%;
          background-color: red;
        }
      }
    }
  }
}

@media screen and (min-width: 1100px) {
  header {
    .urlPagesContainer {
      display: block;
    }
    section:first-child {
      display: block;
    }
    section {
      > div {
        .headerTool {
          .searchContainer {
            display: flex;
          }
          .loginSingUp {
            > button,
            a {
              cursor: pointer;
              display: flex;
              align-items: center;
              gap: 5px;
              border-radius: 20px;
              i {
                font-size: 16px;
              }
              .loginSingUpContent {
                display: block;
                font-size: 16px;
              }
            }
            button {
              border: 2px solid #09cf55;
              color: #09cf55;
              background-color: transparent;
              i {
                color: #000;
              }
            }
            a {
              background-color: #0da748;
              color: #fff;
            }
          }
        }
      }
    }
  }
  main {
    section {
      div {
        .firstSectionContent {
          flex-direction: row;
        }
      }
    }
  }
}
